.main_cont {
  position: relative;
  padding: 40px 60px;
  .heading_cont {
    border-radius: 10px;
    margin-left: 120px;
    background-color: rgb(171, 196, 234);
    width: 600px;
    height: 380px;

    .heading {
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-size: 46px;
      font-weight: 600;
      padding: 70px 40px;
    }
  }
  .slider_cont {
    position: absolute;
    top: 20%;
    right: 16%;
    max-width: 600px;
  }
}
