.img_container {
  position: relative;
  height: calc(100% - 70px);

  .themes {
    position: absolute;
    top: 22%;
    z-index: 100;
    left: 34%;
    font-weight: 700;
    font-size: 34px;
    color: rgba(187, 233, 236, 0.988);
  }
  .quore {
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    z-index: 100;
    left: 14%;
    font-weight: 700;
    font-size: 24px;
    color: rgba(237, 231, 46, 0.988);
  }

  .title {
    position: absolute;
    z-index: 100;
    top: 12%;
    color: rgb(248, 250, 250);
    left: 40%;
    font-weight: 700;
    font-size: 46px;
    .highlight {
      color: rgb(217, 217, 30);
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(85, 35, 167, 0.5) 0%,
      rgba(180, 42, 42, 0) 100%
    );
    z-index: 9;
  }

  .img_wrap {
    position: relative;
    height: 700px;
    width: 100%;
  }

  .search_bar {
    position: absolute;
    background-color: white;
    display: flex;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px 10px 40px;
    flex-direction: row;
    border-radius: 12px;
    width: 70%;
    background: rgb(231, 230, 230);
    z-index: 50;
  }

  .search_input {
    width: calc(100% - 40px);
    height: 50px;
    border: none;
    background: rgb(231, 230, 230);
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    outline: none;
  }
  @media screen and (max-width: 768px) {
    .title {
      z-index: 100;
      top: 15%;
      left: 30%;
      font-size: 32px;
    }
    .themes {
      font-size: 16px;
      top: 22%;
      left: 28%;
    }
    .quore {
      top: 46%;
      max-width: 360px;
      left: 12%;
      font-size: 16px;
    }
    .search_bar {
      top: 32%;
      left: 50%;
    }
    .img_wrap {
      position: relative;
      height: 650px;
      width: 100%;
    }
  }
}
