.main_container {
  position: relative;
  padding: 40px 100px;
  width: 100%;
  margin-bottom: 40px;
  .title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .desc
  {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    font-weight: 500;

  }
  .card_cont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
  }
}
