.main_container {
  position: relative;
  padding: 40px 100px;
  width: 100%;
  background-image: url("../../../public/images/background/blogs_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  .title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .desc
  {
    margin-bottom: 50px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: rgb(221, 136, 71);

  }
  .card_cont {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
  }
}
