.main_container {
  position: relative;

  padding: 40px 100px;
  margin-bottom: 60px;
  .heading {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .gif_cont {
      position: relative;
      height: 120px;
      width: 210px;
    }
    .highlight {
      font-weight: 700;
      font-size: 36px;
      margin-bottom: 30px;
      text-align: center;
      .title {
        font-size: 36px;
        line-height: 40px;
        color: rgb(255, 200, 0);
        font-family: var(--gordita);
        font-weight: 700;
      }
    }
  }

  .tagline {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
  }
  .card_image_cont {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 60px;
    .img_cont {
      // flex: 1;
      min-width: 50%;
      position: relative;
      height: 300px;
      width: 600px;
    }
    .card_slider {
      width: 50%;
    }
  }
  @media screen and (max-width: 768px) {
    padding: 20px 20px;
    .card_image_cont {
      flex-direction: column;
      .card_slider {
        width: 100%;
      }
    }
  }
}
