.nav_container {
  height: 70px;
  position: sticky;
  display: flex;
  z-index: 100;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  top: 0px;
  background-color: rgb(33, 35, 35);
  .logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    .logo {
      position: relative;
      height: 100px;
      width: 100px;
    }
  }
  .title {
    font-size: 26px;
    font-weight: 700;
    color: rgb(208, 217, 220);
  }
  .profile_cont {
    position: relative;
    .list_items {
      position: absolute;
      z-index: 1000;
      top: 10px;
      right: 30px;
      ul {
        padding: 5px;
        background-color: rgb(233, 224, 224);
        border-radius: 10px;
        li {
          display: flex;
          cursor: pointer;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          font-size: 18px;
          padding: 10px;
          font-weight: 600;
          border-bottom: 1px solid rgb(80, 77, 77);
          &:hover {
            background-color: rgb(203, 199, 199);
          }
        }
      }
    }
  }
}
