.main_cont {
  position: relative;
  padding: 60px 100px 60px 120px;
  margin-bottom: 60px;

  .feature_cont {
    display: flex;
    flex-direction: row;
    gap: 40px;
    .sol_cont {
      max-width: 300px;
      .sol_cont_title {
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
        .highlight {
          color: rgb(109, 213, 234);
        }
      }
      .sol_cont_desc {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .feature_item {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      .item_cont {
        min-width: 400px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-left: 30px;
        max-width: 430px;
        .image_wrap {
          padding: 10px;
          .img_cont {
            position: relative;
            height: 100px;
            width: 100px;
            > span {
              > img {
                background-color: rgb(218, 232, 235);
                border-radius: 10px;
              }
            }
          }
        }

        .title {
          font-size: 24px;
          font-weight: 600;
        }
        .desc {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}
