.main_cont
{
    position: relative;
    padding: 40px 100px;
    background-color: rgb(231, 217, 217);
    .feature_cont
    {
        display: flex;
        flex-direction: row;
    }
    .sol_cont
    {
        font-size: 54px;
        font-weight: 700;
        text-transform: uppercase;
    }

}
