.main_cont{
  padding-left: 100px;
  padding-right: 100px;
  .title
  {
    margin-left: 20px;
    font-size: 34px;
    font-weight: 700;
  }
  .desc
  {
    text-align: center;
    color: rgb(179, 37, 56);
    font-size: 24px;
  }
  
  .feature_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 80px;
  
    .card_main_container {
      scale: 1;
      position: relative;
      border: 2px solid rgb(206, 218, 45);
  box-shadow: 10px 10px 10px gray;
      max-width: 370px;
      border-radius: 8px;
      padding: 24px;
      &:hover {
        box-shadow: 0 0 30px 10px rgba(24, 24, 24, 0.2);
        transition: 0.2s ease-in-out ;
        scale: 1.06;
      }
    }
  }
  
}

