.main {
  padding: 100px 40px 40px 40px;
  background: color gray -100px;
}

.headerTitle {
  border-left: 4px solid #ea9e8b;
  background-image: url('../../../public/images/aboutus2.jpg');
  padding-left: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  margin: 0px 40px;
  .title {
    font-size: 40px;
    font-weight: 700;
    color: rgb(19, 19, 2);
  }
  .links {
    margin-top: 10px;
  }
}

.heroSection {
  background-color: orange;
  background-image: url('../../../public/images/aboutus.jpg');
  background-size: cover;
  height: 551px !important;
  margin: 48px 100px;
  position: relative;
  .desc {
    position: absolute;
    top: 55%;
    background-image: url('../../../public/images/background/about_us.jpg');

    left: -5%;
    background-color: #c6c78a;
    padding: 38px 42px;
    .title {
      font-size: 35px;
      font-weight: 700;
      display: flex;
      align-items: center;
      line-height: 38px;
      gap: 5px;
      .lining {
        width: 60px;
        height: 2px;
        background-color: black;
      }
    }
    .description {
      font-size: 16px;
      margin-top: 10px;
      color: rgb(48, 34, 24);
      text-transform: capitalize;
    }
  }
}

.more {
  margin: 0px 40px;
  .title {
    font-size: 32px;
    color: black;
    font-weight: 700;
  }
  .moreInfo {
    font-size: 18px;
    color: #555555;
    margin: 10px 0px 24px;
  }
}

.team {
  margin: 60px 40px 64px;

  .teamHeading {
    font-size: 40px;
    margin-bottom: 64px;
    color: black;
    font-weight: 700;
  }
  .teamContainer {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }
}
