.card_container {
  position: relative;
  padding: 40px 0px;
  .img_wrap {
    position: relative;
    border: 2px solid rgb(233, 206, 206);
    border-radius: 20px;
    margin-bottom: 12px;
    .img_cont {
      width: 333px;
      height: 188px;
      border-radius: 20px;
      > img {
        border-radius: 20px;
      }
    }
  }

  .text_cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
      font-size: 24px;
      text-transform: uppercase;
      line-height: 32px;
      font-weight: 700;
    }
    .description {
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      font-family: var(--desc);
    }
  }
}
