.main_cont {
  position: relative;
  padding: 40px;
  .heading {
    position: relative;
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .tagline {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .prop_cont {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap:30px;
    width: 100%;
  }
  .prop_list {
    width: 70%;
    // background-color: red;
  }
  .latest {
    width: 30%;
    padding: 20px;
    // background-color: aqua;
    height: 500px;
    border-radius: 20px;
    box-shadow: 10px 5px 20px 0px gray;
  }
}
