.navbar_main {
  position: relative;
  width: 100%;
  height: 75px;
  background-color: rgb(22, 22, 23);
  display: flex;

  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  .btn_container {
    .btn {
      background-color: white;
      padding: 5px 25px 5px 25px;
      font-size: 20px;
      font-weight: 600;
      border-radius: 12px;
      &:hover {
        background-color: rgb(67, 80, 105);
        color: white;
        border: 1px solid white;
      }
    }
  }
  .navbar_logo {
    display: flex;
    flex-direction: row;
    gap: 12px;
    .animation_container {
      position: relative;
      height: 50px;
      display: flex;
      align-self: center;
      scale: 1.3;
      width: 100px;
      .img {
        border-radius: 30px;
      }
    }

    .test {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      margin-left: -20px;
      color: rgb(221, 214, 214);
      .title {
        font-weight: 700;
        font-size: 32px;

        color: white;
        opacity: 0;
        animation: TitleFade 1s ease-in-out 0.2s forwards;
      }
      .tag {
        margin-left: -5px;
        margin-top: -10px;
        font-size: 12px;
        color: rgb(247, 239, 239);
      }
    }
  }
  .navbar_cont {
    display: flex;
    flex-direction: row;
    gap: 30px;
    .navbar_items {
      font-size: 20px;
      font-weight: 600;
      color: white;
      transition: color 0.3s ease;
      &:hover {
        color: rgb(105, 164, 176);
      }
    }
  }
  .login_touch_btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .navbar_button {
    display: none;
  }
  .navbar_cont_mobile {
    display: none;
  }
}

@keyframes TitleFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .navbar_mobile_cont {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    .navbar_button {
      display: block;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .navbutton_bars {
        background: rgb(242, 236, 236);
        height: 2px;
        width: 40px;
        margin-top: 7.5px; /* Half of the desired gap */
        margin-bottom: 7.5px; /* Half of the desired gap */
      }
    }
  }
 
  .navbar_main {
    .navbar_cont {
      display: none;
    }
    .login_touch_btn {
      display: none;
    }

    .navbar_cont_mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 80px;
      z-index: 100;
      width: 100%;
      background: rgba(105, 164, 176, 0.8);
      .navbar_items {
        font-size: 20px;
        font-weight: 600;
        color: white;
        transition: color 0.3s ease;
        &:hover {
          color: rgb(105, 164, 176);
        }
      }
    }
  }
}
