.main_container {
  position: relative;
  width: 100%;
  display: flex;
  padding: 20px 60px;
  background-image: url('../../../../../public/images//background/homesection_bg.jpg');
  .img_back_cont {
    width: 50%;
    margin-top: 60px;
    .home_title {
      font-size: 46px;
      color: rgb(27, 165, 181);
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 10px red;
      
      .hightlight {
        color: orange;
      }
    }
  }
  .contact_us_cont {
    width: 50%;
    background-color: white;
    position: relative;
    padding: 50px 80px;
    border: 1px salmon;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 10px 1px 20px 1px gray;
    border: 1px solid rgb(210, 166, 166);

    .title_cont {
      font-size: 34px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    label {
      font-size: 20px;
      font-weight: 500;
    }
    .input_cont {
      margin-bottom: 20px;
    }

    .location_cont {
      max-width: 280px;
      height: 40px;
      border-radius: 6px;

      select {
        font-size: 18px;
        border: 1px solid rgb(37, 35, 35);
        width: 100%;
        border-radius: 6px;
      }
    }
    .input_cont {
      position: relative;
      width: 100%;
      input {
        width: 100%;
        padding: 10px;
        height: 40px;
        border: 1px solid black;
        border-radius: 6px;
      }
    }
    .email_loc_cont {
      width: 100%;
      display: flex;
      gap: 30px;
      .email_cont {
        width: 100%;
      }
      .location {
        width: 100%;
        max-width: 200px;
      }
    }
    .btn_container {
      position: relative;
      display: flex;
      margin-top: 50px;
      justify-content: center;
      width: 100%;
      cursor: pointer;
      button {
        background-color: rgb(20, 24, 33);
        padding: 12px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        text-transform: uppercase;
        &:hover{
          background-color: rgb(96, 134, 155);
        }
      }
    
    }
  }
}
