.main_container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  // background-image: url('../../../../../public/images//background/homesection_bg.jpg');
  .img_cont {
    position: absolute;
    inset: 0px;
    filter: brightness(0.9) contrast(0.8) saturate(0.9);
  }
  .img_back_cont {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-top: 60px;
    padding: 40px;
    .tagline_cont {
      font-size: 24px;
      font-weight: 600;
      color: rgb(134, 85, 24);
      max-width: 600px;
    }
    .main_cred_cont
    {
      display: flex;
      gap: 40px;
      margin-bottom: 10px;
      .cred_cont {
        display: flex;
        gap: 20px;
        .count_cont
        {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
   
    .branding {
      display: flex;
      gap: 20px;
      color: rgb(31, 13, 13);
      font-size: 18px;
      -webkit-text-stroke: 1.2px #5b5252;
      font-weight: 600;
      .one_cont {
        font-size: 26px;
        color: rgb(120, 19, 19);
      }
      .hori_line {
        height: 80px;
        width: 2px;
        background-color: rgb(48, 15, 15);
      }
    }
    .home_title {
      font-size: 42px;
      color: rgb(23, 26, 27);
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: 10px red;

      .hightlight {
        color: rgb(182, 36, 63);
      }
    }
  }
  .contact_us_cont {
    width: 50%;
    background-color: hwb(90 95% 4%);
    position: relative;
    padding: 40px 60px;
    border: 1px salmon;
    max-width: 630px;
    border-radius: 20px;
    box-shadow: 10px 1px 20px 1px gray;
    border: 1px solid rgb(210, 166, 166);

    .title_cont {
      font-size: 34px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      margin-bottom: 30px;
      text-transform: uppercase;
    }
    label {
      font-size: 18px;
      color: rgb(116, 107, 107);
      font-weight: 500;
    }
    .input_cont {
      margin-bottom: 20px;
    }

    .location_cont {
      max-width: 280px;
      height: 40px;
      border-radius: 6px;

      select {
        font-size: 18px;
        border: 1px solid rgb(37, 35, 35);
        width: 100%;
        border-radius: 6px;
      }
    }
    .input_cont {
      position: relative;
      width: 100%;
      input {
        width: 100%;
        padding: 10px;
        height: 38px;
        border: 1px solid black;
        border-radius: 6px;
      }
    }
    .email_loc_cont {
      width: 100%;
      display: flex;
      gap: 30px;
      .email_cont {
        width: 100%;
      }
      .location {
        width: 100%;
        max-width: 200px;
      }
    }
    .btn_container {
      position: relative;
      display: flex;
      margin-top: 50px;
      justify-content: center;
      width: 100%;
      cursor: pointer;
      button {
        background-color: rgb(20, 24, 33);
        padding: 12px;
        color: white;
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        max-width: 400px;
        border-radius: 8px;
        text-transform: uppercase;
        &:hover {
          background-color: rgb(96, 134, 155);
        }
      }
    }
  }
}
