.cardContainer {
    background: rgb(4, 6, 46);
    border-radius: 15px;
    max-width: 800px;
    padding: 32px;
    display: flex;
    gap: 50px;
    .avatar {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        border: skyblue 2px solid;
    }
    h3 {
        color: rgb(225, 188, 188);
        font-size: 20px;
    }
    h1 {
        font-weight: 700;
        font-size: 30px;
        margin-top: 14px;
        color: wheat;
    }
    p {
        color: wheat;
        margin: 14px 0px;
    }
    .links {
        display: flex;
        gap: 40px;
        a {
            background: wheat;
        }
    }
    
}