.main_cont {
  position: relative;
  background-color: hsl(0, 40%, 96%);
  border-radius: 10px;
  min-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 15px 1px 20px 1px gray;
  padding: 40px;
  .profile_icon_cont
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .icon_cont {
    padding: 20px;
    max-width: 80px;
    border-radius: 50%;
    background-color: rgb(144, 179, 188);
  }
  .cont_title {
    font-size: 24px;
    font-weight: 600;
  }
  .cont_subtitle
  {
    font-size: 16px;
    font-weight: 500;
    color: rgb(105, 105, 148);
  }
}
